@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.utopia-px {
    --space-xs: clamp(0.875rem, -0.9408rem + 6.0526vi, 3.75rem);
    padding-inline: var(--space-xs);
}
